.topBar {
    background-color: rgb(204, 204, 204);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clock {
    margin-right: 20px;
    padding: 2px 5px;
    border-left: 1px white solid;
    border-top: 1px white solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

.clock:hover {
    cursor: default;
}