.topbar-container {
    position: fixed;
    top: 0;
    width: 1450px;
    // height: fit-content;
    height: 60px;
    background-color: rgba(235, 235, 235, 0.95);
    border-radius: 0 0 10px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    @media screen and (max-width: 1450px) {
        width: 95vw;
        // padding: 0;
    }
}

.topbar-btns {
    width: 480px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>button {
        padding: 10px 20px;
        background-color: transparent;
        border: 0;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            background-color: rgba($color: #CCCCCC, $alpha: .3);
        }

        &:active {
            background-color: #CCCCCC;
        }
    }
}