@import '../style_imports/fonts';

.movable-modal {
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    width: 50%;
    max-width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 430px) {
        width: 100%;
        height: 700px;
        max-width: none;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }
}

.modal-header {
    background-color: #f1f1f1;
    cursor: move;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-content {
    height: 900px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.close {
    float: right;
    cursor: pointer;
}

.invisible {
    display: none;
}