@import './components/style_imports/fonts';

.App {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.resize-box {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  // background-color: transparent;
  z-index: 3000;

  transition:
    width ease-out 1s,
    height ease-out 1s;

  font-size: xx-large;
  font-family: var(--log-in-font);
}

body {
  & * {
    font-size: large;
  }
}